data/raw/
data/processed/
data/manifest/

*.exe
*.manifest
*.token
gdc_download_*.log

.env
.env.*

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.ipynb_checkpoints/
*/.ipynb_checkpoints/

.DS_Store
Thumbs.db